name: Check

on: 
  workflow_dispatch:
  push:
    paths:
      - "**/*.py"
      - "**/*.toml"
  pull_request:
    paths:
      - "**/*.py"
      - "**/*.toml"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Setup uv
        uses: astral-sh/setup-uv@v6

      - name: Install uv
        shell: bash
        run: |
          uv sync --locked

      - name: Test
        run: |
          uv run --frozen pytest
